<h2>Tworzenie nowej symulacji</h2>
<mat-vertical-stepper [linear]="simulationFormData.linear" #stepper>
  <mat-step [stepControl]="form1.control">
    <form #form1="ngForm">
      <ng-template matStepLabel>Wpisz nazwę</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input matInput required [(ngModel)]="simulationFormData.simulation.name" name="name">
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form2.control">
    <form #form2="ngForm">
      <ng-template matStepLabel>Wpisz wielkość populacji</ng-template>
      <mat-form-field class="full-width-form" appearance="fill">
        <mat-label>Populacja</mat-label>
        <input matInput type="number" min="1" required [(ngModel)]="simulationFormData.simulation.populationSize" name="populationSize"/>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious style="margin-right: 10px">Wstecz</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form3.control">
    <form #form3="ngForm">
      <ng-template matStepLabel>Wpisz początkową liczbę osób zarażonych</ng-template>
      <mat-form-field class="full-width-form" appearance="fill">
        <mat-label>Początkowa liczba osób zarażonych</mat-label>
        <input matInput type="number" min="1" required [(ngModel)]="simulationFormData.simulation.startInfectedCount" name="startInfectedCount"/>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious style="margin-right: 10px">Wstecz</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form4.control">
    <form #form4="ngForm">
      <ng-template matStepLabel>Wpisz wskaźnik R</ng-template>
      <mat-form-field class="full-width-form" appearance="fill">
        <mat-label>Wskaźnik R</mat-label>
        <input matInput type="number" min="1" required [(ngModel)]="simulationFormData.simulation.rratio" name="rratio"/>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious style="margin-right: 10px">Wstecz</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form5.control">
    <form #form5="ngForm">
      <ng-template matStepLabel>Wpisz wskaźnik śmiertelności</ng-template>
      <mat-form-field class="full-width-form" appearance="fill">
        <mat-label>Wskaźnik śmiertelności</mat-label>
        <input matInput type="number" min="1" required [(ngModel)]="simulationFormData.simulation.mratio" name="mratio"/>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious style="margin-right: 10px">Wstecz</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form6.control">
    <form #form6="ngForm">
      <ng-template matStepLabel>Wpisz ilość dni, która upływa od momentu zarażenia do wyzdrowienia chorego</ng-template>
      <mat-form-field class="full-width-form" appearance="fill">
        <mat-label>Ilość dni</mat-label>
        <input matInput type="number" min="1" required [(ngModel)]="simulationFormData.simulation.daysToRecovery" name="daysToRecovery"/>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious style="margin-right: 10px">Wstecz</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form7.control">
    <form #form7="ngForm">
      <ng-template matStepLabel>Wpisz ilość dni, która upływa od momentu zarażenia do śmierci chorego</ng-template>
      <mat-form-field class="full-width-form" appearance="fill">
        <mat-label>Ilość dni</mat-label>
        <input matInput type="number" min="1" max="{{simulationFormData.simulation.daysToRecovery}}" required [(ngModel)]="simulationFormData.simulation.daysToDeath" name="daysToDeath"/>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious style="margin-right: 10px">Wstecz</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form8.control">
    <form #form8="ngForm">
      <ng-template matStepLabel>Wpisz ilość dni, dla których ma być przeprowadzona symulacja</ng-template>
      <mat-form-field class="full-width-form" appearance="fill">
        <mat-label>Ilość dni</mat-label>
        <input matInput type="number" min="1" required [(ngModel)]="simulationFormData.simulation.simulationLength" name="simulationLength"/>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious style="margin-right: 10px">Wstecz</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Gotowe</ng-template>
    <div>
      <button mat-raised-button matStepperPrevious style="margin-right: 10px">Wstecz</button>
      <button mat-raised-button (click)="cancel()" [mat-dialog-close]="simulationFormData" style="margin-right: 10px">Anuluj</button>
      <button mat-raised-button (click)="save()" [mat-dialog-close]="simulationFormData">Zapisz</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
<button *ngIf="stepper.selectedIndex != 8" mat-raised-button (click)="cancel()" [mat-dialog-close]="simulationFormData">Anuluj</button>
